@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800');

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Khula', sans-serif;
  font-weight: 600;
  color: $font-color;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

p, a {
  font-family: 'Khula', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $font-color;
}

$script-font: 'Playfair Display', serif;


/* HEADINGS */
.heading-lg {
  text-transform: uppercase;
  font-size: 2.8em;
  font-weight: 700;
  line-height: 1;
}

@media screen and (min-width: 48em) {
  .heading-lg {
    font-size: 3em;
  }
}

@media screen and (min-width: 64em) {
  .heading-lg {
    font-size: 3.5em;
  }
}

// /* PARAGRAPH STYLES */
.text-intro {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.3;
  margin: 16px 0;
}

@media screen and (min-width: 48em) {
  .text-intro {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 64em) {

}
