<nav class="nav-wrapper">

  <div class="nav-logo">
    <a href="index.html"><img class="pure-img" src="assets/img/logo/ghassan_logo.png" alt=""></a>
  </div>

  <!-- Hamburger -->
  <div class="toggle-bar-wrapper">
    <span>menu</span>
    <div class="toggle-bars">
      <b></b>
      <b></b>
      <b></b>
    </div>
  </div>

  <!-- Full page menu -->
  <div class="overlay-nav-wrapper">
    <div class="overlay-nav-content">

      <div class="by-line-reverse">
        <div class="by-line-border"></div>
        <p>Love Life.<br>Respect Nature.</p>
      </div>

      <ul>
        <li><img src="assets/img/logo/ghassan_logo_white.png" alt=""></li>
        <li><a href="">Home</a></li>
        <li><a href="our-story.html">Our Story</a></li>
        <li><a href="shampoo.html">Shampoo</a></li>
        <li><a href="conditioner.html">Conditioner</a></li>
        <li><a href="styling.html">Styling</a></li>
        <li><a href="treatment.html">Treatment</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>

      <ul class="social">
        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
        <li><a href=""><i class="fab fa-twitter"></i></a></li>
      </ul>

    </div>
    <div class="overlay-block">
    </div>
    <div class="overlay-nav-content-2">
    </div>
  </div>

</nav>
