<nav class="nav-wrapper">

  <div class="nav-logo">
    <a href="#"><img class="pure-img" src="assets/img/logo/ghassan_logo_white.png" alt=""></a>
  </div>

  <div class="overlay-nav-wrapper">
    <div class="overlay-nav-content">
      <ul>
        <li><img src="assets/img/logo/ghassan_logo_white.png" alt=""></li>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Service</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
    <div class="overlay-nav-content-2">
    </div>
  </div>

  <div class="toggle-bar-wrapper">
    <span>menu</span>
    <div class="toggle-bars">
      <b></b>
      <b></b>
      <b></b>
    </div>
  </div>

</nav>
