//  Grid Container
//  -----------------------------------------------

.grid-container {
  padding: 0px 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .grid-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .grid-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    width: 1100px;
  }
}

@media (min-width : 1824px) {
  .grid-container {
    width: 1340px;
  }
}

//  Column Gutter
//  -----------------------------------------------

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pure-g {
  margin: 0 -1em;
}

.pure-g > div {
  padding: 0 2em;
}
