/* Byline lock*/
.by-line {
  display: flex;
  margin-bottom: 10px;
  .by-line-border {
    height: 35px;
    width: 3px;
    background: $font-color;
    margin-right: 10px;
    transform: translateY(2px);
    opacity: 0.5;
  }
  p {
    color: $font-color;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.5;
    margin: 0;
    line-height: 1.4;
  }
}

.by-line-reverse {
  @extend .by-line;
  .by-line-border {
    background: $white;
  }
  p {
    color: $white;
  }
}

  /* Dividers*/
.horizontal-divider {
  width: 120px;
  height: 2px;
  background: $brand-color;
  margin: 30px 0;
}

.verticle-bar {
  width: 40px;
  height: 80px;
  background: $brand-color;
}
