.nav-wrapper {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
}

.nav-logo {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 150px;
}
.toggle-bar-wrapper {
  position: absolute;
  top: 30px;
  right: 40px;
  display: flex;
  align-items: center;
}

.toggle-bar-wrapper > span {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  margin-right: 10px;
  font-size: 0.9em;
  cursor: pointer;
}

.toggle-bars {
  position: relative;
  width: 34px;
  height: 20px;
  cursor: pointer;
  z-index: 10;
}

.toggle-bars b {
  position: absolute;
  left: 0;
  width: 34px;;
  height: 1px;
  background: white;
}

.toggle-bars b:nth-child(1) {
  top: 0;
}
.toggle-bars b:nth-child(2) {
  top: 50%;
}
.toggle-bars b:nth-child(3) {
  top: 100%;
}

.overlay-nav-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.overlay-nav-content,
.overlay-nav-content-2 {
  width: 100%;
  height: 100vh;
  background: #224496;
  z-index: 5;
  position: absolute;
  top: 0;
  transform: translateX(100%);
}

.overlay-nav-content-2 {
  background: lighten(#224496, 10);
  z-index: 4;
  transform: translateX(100%);
  opacity: 0.5;
}


.overlay-nav-content {
  display: flex;
  align-items: center;
  ul > li {
    list-style-type: none;
    color: white;
    font-size: 2.2em;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 20px;
  }
  li > img {
    width: 200px;
    margin-bottom: 50px;
  }
}
