<section class="environment-wrapper">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-10 large-offset-1">
        <div class="grid-x grix-margin-x">
          <div class="cell large-6">
            <div class="environment-content">
              <div class="by-line">
                <div class="by-line-border"></div>
                <p>Love Life.<br>Respect Nature.</p>
              </div>
              <h1 class="heading-lg">Environmentally Friendly</h1>
              <div class="horizontal-divider"></div>
              <p class="text-intro">As the world is changing, from people to climate to environment,we are becoming more aware and conscious about our sustainability
              on this beautiful planet.</p>
              <p>We must maintain the Earth that has given us Life, we start by
              choosing recyclable packaging. The products itself are also bio
              degradable as they are based from natural ingredients which means
              any waste broken down will not create toxic or hazardous results.</p>
              <p>Ghassan has designed the art and graphics for the range with the thought
              of simplicity and elegance that would match the crisp, clean lines of the
              packaging.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
