<section class="products-wrapper tabs-nav">

  <div class="grid-container">
    <div class="grid-x products-heading">
      <div class="cell large-12">
        <h1 class="heading-lg text-center">Products</h1>
      </div>
    </div>
  </div>

  <div class="tabs-link-wrapper">
    <div class="grid-container">
      <div class="grid-x">
        <ul class="tab-links">
          <li class="active"><a href="#shampoo"> Shampoo</a></li>
          <li><a href="#conditioner">Conditioner</a></li>
          <li><a href="#treatment"> Treatment</a></ali>
          <li><a href="#styling"></i> Styling</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="tab-content">

<!-- SHAMPOO -->
    <div id="shampoo" class="tab active shampoo-tab">
      <section class="home-product-wrapper">
          <div class="grid-container">
            <div class="grid-x grid-margin-x">
              <div class="cell large-10 large-offset-1">
                <div class="grid-x">

                  <div class="cell large-6 medium-6 product-category-img">
                    <div class="category-img">
                      <img src="assets/img/shampoo.png" alt="">
                    </div>
                  </div>

                  <div class="cell large-6 medium-6">
                    <div class="home-product-item-content">
                      <div class="by-line">
                        <div class="by-line-border"></div>
                        <p>Love Life.<br>Respect Nature.</p>
                      </div>
                      <h1 class="heading-lg">infused organic shampoo
                      </h1>
                      <p>Ghassan Recovery is a reconstructive shampoo with soy proteins, designed for dry, damaged hair. Recovery repairs cuticles with natural soy proteins, keeps it manageable and adds shine. It also has Jojoba seed oil for maximum moisture. Protects hair from UV rays. Anti frizz.</p>
                    </div>
                    <a href="" class="btn-secondary">view shampoos</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>
    </div>

<!-- CONDITIONER -->
    <div id="conditioner" class="tab conditioner-tab">
      <section class="home-product-wrapper">
          <div class="grid-container">
            <div class="grid-x grid-margin-x">
              <div class="cell large-10 large-offset-1">
                <div class="grid-x">

                  <div class="cell large-6 medium-6 product-category-img">
                    <div class="category-img">
                      <img src="assets/img/recovery_shampoo03.png" alt="">
                    </div>
                  </div>

                  <div class="cell large-6 medium-6">
                    <div class="home-product-item-content">
                      <div class="by-line">
                        <div class="by-line-border"></div>
                        <p>Love Life.<br>Respect Nature.</p>
                      </div>
                      <h1 class="heading-lg">infused organic Conditoner
                      </h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse porro ipsa inventore eligendi tempore repellendus dignissimos, consequuntur rerum provident omnis eius, dicta vel cum quis id, optio recusandae commodi error!</p>
                    </div>
                    <a href="" class="btn-secondary">view Conditioners</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>
    </div>

    <div id="treatment" class="tab treatment-tab">
      <section class="home-product-wrapper">
          <div class="grid-container">
            <div class="grid-x grid-margin-x">
              <div class="cell large-10 large-offset-1">
                <div class="grid-x">

                  <div class="cell large-6 medium-6 product-category-img">
                    <div class="category-img">
                      <img src="assets/img/treatment-test.jpg" alt="">
                    </div>
                  </div>

                  <div class="cell large-6 medium-6">
                    <div class="home-product-item-content">
                      <div class="by-line">
                        <div class="by-line-border"></div>
                        <p>Love Life.<br>Respect Nature.</p>
                      </div>
                      <h1 class="heading-lg">infused organic Treatments
                      </h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae eos impedit ipsam voluptas iusto molestiae reiciendis suscipit libero ut fuga eius provident cumque nemo tenetur harum deserunt, sint eaque consectetur!</p>
                    </div>
                    <a href="" class="btn-secondary">view treatments</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>
    </div>

    <div id="styling" class="tab styling-tab">
      <section class="home-product-wrapper">
          <div class="grid-container">
            <div class="grid-x grid-margin-x">
              <div class="cell large-10 large-offset-1">
                <div class="grid-x">

                  <div class="cell large-6 medium-6 product-category-img">
                    <div class="category-img">
                      <img src="assets/img/recovery_shampoo03.png" alt="">
                    </div>
                  </div>

                  <div class="cell large-6 medium-6">
                    <div class="home-product-item-content">
                      <div class="by-line">
                        <div class="by-line-border"></div>
                        <p>Love Life.<br>Respect Nature.</p>
                      </div>
                      <h1 class="heading-lg">infused organic styling
                      </h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptates illum corporis, libero cupiditate obcaecati numquam quam magni placeat atque ea ab cum, dignissimos dolor enim, reprehenderit, qui non provident.</p>
                    </div>
                    <a href="" class="btn-secondary">view styling</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>
    </div>



  </div>
</section>
