<div class="home-products-wrapper">
  <div class="grid-container">

      <div class="pure-g home-products-intro">
        <div class="pure-u-1">
          <h1 class="heading-lg">Our Products</h1>
          <p>For each product in the Ghassan Luxury Hair Collection, an Organic Ingredient is carefully matched and Infused to ensure the hair and scalp will get the treatment it needs and to suit all hair types.</p>
        </div>
      </div>

      <div class="pure-g home-products-items">

        <div class="pure-u-1-2 pure-u-md-1-4 pure-u-lg-1-4 home-products-item">
          <div class="item-img">
            <img class="pure-img" src="assets/img/recovery_shampoo03.png" alt="">
          </div>
          <h2>Shampoo</h2>
          <p>Will get the treatment it needs and to suit all hair.</p>
          <a href="#" class="btn-secondary">learn more</a>
        </div>

        <div class="pure-u-1-2 pure-u-md-1-4 pure-u-lg-1-4 home-products-item">
          <div class="item-img">
            <img class="pure-img" src="assets/img/recovery_shampoo02.png" alt="">
          </div>
          <h2>Conditioner</h2>
          <p>Will get the treatment it needs and to suit all hair.</p>
          <a href="#" class="btn-secondary">learn more</a>
        </div>

        <div class="pure-u-1-2 pure-u-md-1-4 pure-u-lg-1-4 home-products-item">
          <div class="item-img">
            <img class="pure-img" src="assets/img/styling.png" alt="">
          </div>
          <h2>Styling</h2>
          <p>Will get the treatment it needs and to suit all hair.</p>
          <a href="#" class="btn-secondary">learn more</a>
        </div>

        <div class="pure-u-1-2 pure-u-md-1-4 pure-u-lg-1-4 home-products-item">
          <div class="item-img">
            <img class="pure-img" src="assets/img/styling02.png" alt="">
          </div>
          <h2>Treatment</h2>
          <p>Will get the treatment it needs and to suit all hair.</p>
          <a href="#" class="btn-secondary">learn more</a>
        </div>

      </div>

  </div>
</div>
