<section class="home-product-wrapper">

    <div class="background-type">
      <img src="assets/img/shampoo_type.svg" alt="">
    </div>

    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell large-10 large-offset-1">
          <div class="grid-x">

            <div class="cell large-6 medium-6 product-category-img">
              <div class="category-img">
                <img src="assets/img/recovery_shampoo03.png" alt="">
              </div>
            </div>

            <div class="cell large-6 medium-6">
              <div class="home-product-item-content">
                <div class="by-line">
                  <div class="by-line-border"></div>
                  <p>Love Life.<br>Respect Nature.</p>
                </div>
                <h1 class="heading-lg">infused organic shampoo
                </h1>
                <p>Ghassan Recovery is a reconstructive shampoo with soy proteins, designed for dry, damaged hair. Recovery repairs cuticles with natural soy proteins, keeps it manageable and adds shine. It also has Jojoba seed oil for maximum moisture. Protects hair from UV rays. Anti frizz.</p>
              </div>
              <a href="" class="btn-secondary">view shampoos</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
