/* PRODUCT ITEMS */
.product-wrapper {
  position: relative;
  padding: 90px 0;
  // background: lighten($bg-color, 15);
}

/* Left alight product image */
.product-item {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
}

@media screen and (max-width: 760px) {
  .reverse-column {
    flex-direction: column-reverse;
  }
}

.product-item-img {
  img {
    width: 100%;
  }
}
/* Left alight product image */
.product-item-content {
  .product-cat-heading {
    opacity: 0.4;
    letter-spacing: 0.3em;
    font-weight: 700;
  }
  .product-heading {
    font-size: 2.5em;
  }
}

.product-ingredients,
.product-directions {
  p {
    margin-top: 0px;
  }
}
