/* HOME - LANDING PAGE */

.landing-wrapper {
  // background: url(../img/temp-hero-04.jpg) no-repeat center center;
  // background-size: cover;
  background: $brand-color;
  width: 100%;
  height: 100vh;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  color: white;
  h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3.5em;
    line-height: 1.2;
  }
}

/* SHAME */
.think-green-wrapper {
  background: url(../img/green_background.jpg) no-repeat center center;
  background-size: cover;
}

.think-green {
  background: rgba(255, 255, 255, 0.7);
  padding: 30px !important;
}
