.landing-wrapper {
  background: #CDDAD4;
  width: 100%;
  height: 100vh;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3.5em;
    line-height: 1.2;
  }
}


/* HOME - ABOUT SECTION */

.home-about-wrapper {
  .logo {
    width: 10em;
  }
}

.about-section-01,
.about-section-02 {
  padding: 90px 0;
}

.about-section-01 {
  img {
    width: 180px;
    float: right;
  }
}

.about-section-02 {
  background: #CDDAD4;
  img {
    width: 250px;
  }
}

// .slide-01 {
//   background: url(../img/ghassan_background.jpg) fixed center center no-repeat;
//   background-size: cover;
// }
