.landing-wrapper {
  background: #2488E3;
  width: 100%;
  height: 100vh;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4em;
  }
  // p {
  //   margin: 0;
  // }
}
